body {
    padding: 0;
    margin: 0;
    background-color: rgb(123, 123, 123);
}

.container {
    width: 50%;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 800;
}
.menu {
    height: 500px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.option {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    width: 200px;
    height: 50px;

    background-color: rgb(223, 223, 223);
    border: 3px solid black;

    transition: background-color 0.1s linear;
}

.option:hover {
    background-color: rgb(181, 255, 255);
}