* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}


/* Container */
.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: white;
    border-bottom: solid rgb(157, 157, 157) 2px;
    padding: 16px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Search */
.search {
    height: 32px;
    border: solid rgb(157, 157, 157) 2px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__input {
    padding: 5px;
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
}
.search__icon {
    height: 50%;
    width: auto;
    opacity: 0.5;
    margin: 0 auto;
    transition: background-color 0.1s linear, box-shadow 0.1s linear;
}
.options {
    height: 24px;
    width: auto;
    opacity: 0.8;

    transition: box-shadow 0.1s linear, 
        background-color 0.1s linear, 
        filter 0.1s linear;
}

/* Services */
.services {
    min-height: 100vh;
    background-image: url("images/main.jpg");
    background-size: cover;
    padding: 40px 0;
}
.services__inner {
    display: flex;
    flex-flow: row wrap;
}
.services__text {
    width: 100%;
    padding-right: 45%;
}
.services__title {
    font-size: 64px;
    margin: 0;
    line-height: 1;
}
.services__description {
    line-height: 1.5;
}
.services__item {
    background-color: white;
    padding: 16px;
    margin: 16px 16px 16px 0;
    width: 30%;
}
.services__item__image {
    width: 100%;
}
.services__item__title {
    width: 100%;
    text-transform: uppercase;
    color: rgb(255, 204, 0);
    font-size: 20px;
}
.services__item__description {
    width: 100%;
}

/* Footer */
.footer {
    min-height: 100px;
    background-color: rgb(26, 26, 26);
    color: rgb(219, 219, 219);
}
.footer__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}
.footer__logo {
    font-size: 36px;
    margin: 10px 24px 20px 0;
}
.nav {
    display: flex;
    flex-flow: row wrap;
}
.nav__item {
    text-decoration: none;
    color: rgb(219, 219, 219);
    margin: 20px 20px 20px 0;
    text-wrap: nowrap;
    transition: color 0.1s linear;
    position: relative;
}

/* Beautiful Effects */
.nav__item:hover {
    color: rgb(255, 204, 0);
}
.nav__item:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(255, 204, 0);
    opacity: 0;
    transition: opacity 0.1s linear;
}
.nav__item:hover:after {
    opacity: 1;
}
.search__icon:hover {
    opacity: 1;
    background-color: rgb(176, 176, 176);
    box-shadow: 0 0 5px 3px rgb(176, 176, 176);
}
.options:hover {
    box-shadow: 0 0 3px 3px white;
    background-color: white;
    filter: invert(100%);
}

/* Smaller width version */

@media (max-width: 820px) or (device-width <= 820px)
{
    .header__inner {
        flex-direction: column;
    }
    .search {
        margin-bottom: 12px;
        width: 100%;
    }
    .search__input {
        width: 90%;
    }
    .services__inner {
        flex-flow: column nowrap;
    }
    .services__text {
        padding-right: 0;
    }
    .services__item {
        width: 100%;
    }
    .nav__item {
        font-size: 24px;
    }
}