* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(120, 120, 120);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 100px 1fr 200px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100px;

    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.main__left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}

.main__header {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.main__content {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.main__right {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.footer {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
}

.header__title {
    margin: auto 0 auto 20px;
}

.nav {
    margin: auto 20px auto 0;
    text-align: end;
}

.nav__link {
    font-size: 24px;
    margin-right: 10px;
}