* {
    margin: 0;
    padding: 0;
}

/* --- Header --- */
.header {
    min-height: 100px;
    width: 100%
}
.header__title {
    display: inline-block;
    text-align: center;
    margin: 20px 0 auto 20px;
    
}
.nav {
    display: block;
    text-align: right;
    float: right;
    margin: 20px 20px auto 0;
}
.nav__link {
    font-size: 24px;
    margin-right: 10px;
}


/* --- Main --- */

.main__left {
    float: left;
    width: 20%;
    min-height: 100vh; 
}

.container {
    overflow: hidden;
    height: 100%;
}

.main__header {
    width: 100%;
    min-height: 50px;
}

.main__content {
    float: left;
    width: 75%;
    height: 100%;
    margin-right: 10px;
}

.main__right {
    overflow: hidden;
    height: 100%;
}

/* --- Footer --- */
.footer {
    height: 200px;
}