* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 48px;
}
.nav__link.link__inactive {
    pointer-events: none;
    text-decoration: none;
    color: gray;
    opacity: 0.8;
}
.main {
    background-color: rgb(120, 120, 120);
}
.main__left {
    background-color: rgb(212, 212, 212);
    padding: 5px;
}
.main__header {
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 36px;
    text-align: center;
    padding-right: 200px;
}
.main__content {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.main__right {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    margin: 10px;
}
.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 400;
    font-size: 24px;
    padding: 25px;
}