@media (max-width: 820px) or (device-width <= 820px)
{
    .header__nav {
        flex-flow: column nowrap;
        margin-left: 50px;
    }
    .nav__link {
        margin: 10px 0;
    }
    .main {
        flex-flow: column-reverse nowrap;
    }
    .main__left {
        width: auto;
    }
    .main__container {
        width: auto;
        min-height: auto;
    }
}

@media (max-width: 500px) or (device-width <= 500px) {
    .header {
        flex-flow: column nowrap;
        align-items: center;
    }
    .main__inner__container {
        flex-flow: column nowrap;
    }
    .main__content {
        width: 100%;
    }
    .main__right {
        width: auto;
    }
}
@media (device-width <= 600px)
{
    p {
        font-size: 24px;
    }
    .header__title {
        font-size: 64px;
    }
}