body {
    margin: 0;
    padding: 0;
}

/* --- Header --- */
.header {
    background-color: black;
    color: white;
    font-size: 24px;
    min-height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header__title {
    font-size: 36px;
    text-align: center;
}
.header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.nav__link {
    font-size: 24px;
    margin-right: 20px;
    text-wrap-mode: nowrap;
}
.nav__link.link__inactive {
    pointer-events: none;
    text-decoration: none;
    color: gray;
    opacity: 0.8;
}

/* --- Main --- */
.main {
    background-color: rgb(120, 120, 120);
    display: flex;
    flex-flow: row nowrap;
}
.main__left {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 20%;
}
.main__container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    width: 80%;
}
.main__header {
    background-color: rgb(56, 56, 56);
    color: white;
    width: 100%;
    min-height: 100px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__inner__container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}
.main__content {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 75%;
}
.main__right {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    margin: 10px;
    width: 25%;
}

/* --- Footer --- */
.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    min-height: 100px;
    font-weight: 400;
    font-size: 24px;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/* --- Smaller screens adaptation --- */
@media (max-width: 820px) or (device-width <= 820px)
{
    .header__nav {
        flex-flow: column nowrap;
        margin-left: 50px;
    }
    .nav__link {
        margin: 10px 0;
    }
    .main {
        flex-flow: column-reverse nowrap;
    }
    .main__left {
        width: auto;
    }
    .main__container {
        width: auto;
        min-height: auto;
    }
}

@media (max-width: 500px) or (device-width <= 500px) {
    .header {
        flex-flow: column nowrap;
        align-items: center;
    }
    .main__inner__container {
        flex-flow: column nowrap;
    }
    .main__content {
        width: 100%;
    }
    .main__right {
        width: auto;
    }
}
@media (device-width <= 600px)
{
    p {
        font-size: 24px;
    }
    .header__title {
        font-size: 64px;
    }
}

/* Carousel */
.carousel {
    max-width: 600px;
    height: 400px;
    width: 80%;
    background-color: transparent;
    margin: 20px auto;
    position: relative;
    font-size: 32px;
    overflow: hidden;
}
.carousel__slider {
    position: absolute;
    bottom: 0;
    left: 70px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    height: 50px;
}
.carousel__slider__item {
    margin: 0 2px;
    height: 100%;
    width: 40px;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.1s linear;
    position: relative;
    z-index: 550;
}
.carousel__slider__item:after {
    content: "";
    width: 90%;
    position: absolute;
    top: 50%;
    box-shadow: 0 -2px 2px 1px black, 0 2px 2px 1px white;
    /*border-top: solid 5px black;*/
    /*border-bottom: solid 5px white;*/
    box-sizing: border-box;
}
.carousel__slider__item:hover {
    opacity: 1;
}
.carousel__slider__item.active {
    opacity: 1;
    pointer-events: none;
}
.carousel__button {
    height: 100%;
    width: 50px;
    position: absolute;
    background-color: transparent;

    z-index: 501;
    border: none;
    font-size: 32px;
    color: rgb(0, 0, 0);
    opacity: 0.5;
    transition: opacity 0.1s linear, text-shadow 0.1s linear;
}
#buttonLeft {
    left: 20px;
}
#buttonRight {
    right: 20px;
}
.carousel__button:hover {
    opacity: 1;
    text-shadow: 0 0 4px rgb(50, 50, 50);
    cursor: pointer;
}
.carousel__item {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__item>p {
    margin: 70px;
    text-align: center;
}
.carousel__item.active {
    visibility: visible;
}
.carousel__item.moving__right {
    left: 100%;
    transition: transform 0.4s ease-in-out;
    transform: translate(-100%, 0);
}
.carousel__item.removing__right {
    transition: transform 0.4s ease-in-out;
    transform: translate(-100%, 0);
    z-index: 100;
}
.carousel__item.moving__left {
    right: 100%;
    transition: transform 0.4s ease-in-out;
    transform: translate(100%, 0);
}
.carousel__item.removing__left {
    transition: transform 0.4s ease-in-out;
    transform: translate(100%, 0);
}
#operationsResults {
    min-height: 50px;
}